h1 {
    width: 100%;
    font-size: 92px;
    font-weight: 700;
}

h2 {
    width: 100%;
    font-size: 65px;
    font-weight: 700;
}

h3 {
    width: 100%;
    font-size: 32px;
    letter-spacing: 1.5;
    font-weight: 700;
}

h4 {
    width: 100%;
    font-size: 92px;
    font-weight: 700;
}

h5 {
    font-size: 92px;
    font-weight: 700;
}