h1,
h2,
h3,
h4,
h5 {

    color: var(--themer-content);
    font-weight: 700;
}

h1 {
    width: 100%;
    font-size: 92px;
}

h2 {
    width: 100%;
    font-size: 65px;
}

h3 {
    width: 100%;
    font-size: 32px;
    letter-spacing: 1.5;
}

h4 {
    width: 100%;
    font-size: 48px;
}

h5 {
    font-size: 92px;
}