.button {
    padding: 12px 24px;
    font-size: 11px !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    background-color: transparent;
    letter-spacing: 3px;
    transition: all 0.7s;
    text-transform: capitalize !important;
}
.button.round{
    border-radius: 8px;
}
.button.solid{
    background-color: var(--themer-button);
    color: var(--themer-button-text-solid);
    border: none;
}
.button.outlined{
    border: 1px solid var(--themer-button-text-solid);
    color: var(--themer-button-text-outlined);
}

.button.solid:hover {
}

.button.outlined:hover {
    border: 1px solid var(--themer-accent);
}

.button:active {
    border: 1px solid var(--themer-accent);
}

@media only screen and (max-width:480px) {
    .button {
        padding: 10px 22px !important;
        font-size: 10px !important;
    }
}