.navbar {
  position: fixed;
  z-index: 1;
  background-color: var(--white) !important;
  width: calc(100% - 20px);
  margin: 10px;
  border-radius: 8px;
  height: 60px;
  padding: 0 24px;
  border: 1px solid rgba(248, 248, 248, 0.929);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);

  .items {
    display: flex;
    gap: 24px;

    span {
      width: 1px;
      background-color: rgb(182, 182, 182);
    }

    p {
      font-size: 13px;
      font-weight: 500;
    }
  }

  .center-logo {}
}