.home {
  * {
    user-select: none;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.partner-item {
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 110px;

  .item-logo {
    object-fit: contain;
    width: 70% !important;
    height: 70% !important;
  }


}

.service-how-item {
  width: 40% !important;
}

.technologies-item {
  width: 30%;
  padding: 24px;

  span {
    text-align: center;
  }
}

@media only screen and (max-width:480px) {
  .home {
    padding-top: 50% !important;

  }

  .service-how-item {
    width: 100% !important;
  }

  .partner-item {
    width: 0;
    height: 0;

    .item-logo {
      width: 70px !important;
      height: 70px !important;
    }


  }
}