.home {
  * {
    user-select: none;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.services-row-container {
  gap: 80px;
  align-items: center;
  justify-content: center;

  .services-row {

    .logo {
      height: 32px;
      width: 32px;
    }

    p {
      color: var(--themer-content);
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.1px;
      line-height: 24px;
    }
  }

}

.partner-container {
  margin: calc(var(--section-margin) / 2) 0;
  justify-content: center;
  gap: 100px;

  .partner-item {
    border-radius: 24px;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 110px;
    margin: 24px 24px;

    .item-logo {
      object-fit: contain;
      width: 70% !important;
      height: 70% !important;
    }


  }
}

.service-page {
  padding: calc(var(--section-margin) * 2) 0 !important;

  .heading-3 {
    margin-bottom: var(--section-margin);
  }

  .row1,
  .row3 {
    .service-how-item {
      min-height: 450px !important;
      width: 50% !important;
      gap: 24px;
    }
  }

  .service-container-row {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
    max-width: 1098px;



    .service-how-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--themer-content);
      border-radius: 24px;
      background-color: var(--background-color-main);

      flex: 1;
      min-height: 450px;
      width: 350px;

      img {
        height: 60px !important;
        width: 60px !important;
        margin-bottom: 24px;
      }

      p {
        text-align: center;
        height: max-content;
        letter-spacing: 0 !important;
        line-height: 1.5;
        font-size: 28px !important;
        font-weight: 700;
        padding: 0 24px;
      }


    }
  }
}


.technologies-page {
  padding: calc(var(--section-margin) * 2) 0 !important;
  background-color: var(--background-color-main) !important;

  color: var(--themer-content) !important;

  p {
    width: 100%;
    font-weight: 300;
    font-size: 16px;
  }

  display: flex;

  .technologies-container {
    justify-content: space-between;
    align-items: center;
    align-items: center;
    max-width: 60%;
    gap: 50px;
    margin: var(--section-margin) 0 !important;

    .technologies-item {
      width: 120px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 32px;

      img {
        height: 56px;
        object-fit: contain;

      }


      p {
        text-transform: capitalize;
        font-family: "Google Sans", Roboto, Arial, sans-serif !important;
        font-size: 14px !important;
        font-weight: 400;
        text-align: center;
        line-height: 24px;
      }





    }

  }
}


@media only screen and (max-width:480px) {
  .home {
    padding-top: 50% !important;

  }

  .service-how-item {
    width: 100% !important;
  }

  .partner-item {
    width: 0;
    height: 0;

    .item-logo {
      width: 70px !important;
      height: 70px !important;
    }


  }
}