:root {
    --dark: #173330;
    --white: #fff;
    --gray-stroke: rgba(23, 51, 48, .1);
    --yellow: #daf42f;
    --white-stroke: rgba(255, 255, 255, .1);
    --transparent: rgba(255, 255, 255, 0);
    --gray: #ecf3f6;
    --teal: #00d0c0;
    --white-2: white;
    --black: black;
}