@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

html {
  font-size: 16px;
  cursor: pointer;
  overflow-x: hidden;
}
body{
  background-color: transparent !important;
}
a {
  text-decoration: none !important;
}
.App {
  text-align: center;
}
::-webkit-scrollbar {
  display: none;
}