h2 {
    color: var(--dark);
}

$section-width: 600px;

$card-border: 8px;

.background {
    background-color: var(--dark);
    color: var(--white);
    background-image: url(../../../../assets/background/background.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {

        color: var(--white);
    }
}

.card-paragraph {
    font-size: 12px;
}

.btn-contact-us {
    min-width: 180px;
}

.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 24px 0;

    .rating {
        display: flex;
        gap: 4px;
        font-size: 12px;
    }

    .rating.light {
        color: var(--yellow);
    }

    .rating.dark {
        color: var(--dark);

        p {
            color: var(--dark) !important;
        }
    }

    p {
        font-size: 12px;
        margin-top: 0 !important;
    }
}

.container-1 {
    height: 750px;

    h1 {
        line-height: 1.1;
    }

    .btn-contact-us {
        margin-top: 24px;
    }


    .rating-container {
        margin-top: 56px;
    }

    .section1 {
        max-width: $section-width;

        p {
            max-width: 80%;
            margin-top: 14px;
        }
    }
}

.container-2 {
    p {
        max-width: 50%;
    }
}

.container-3 {


    .row {
        justify-content: center;
        gap: 12px;

        .card {
            display: flex;
            align-items: flex-start;
            border-radius: $card-border;
            border: none;
            width: 520px;
            height: 480px;
            padding: 32px;

            h3 {
                text-align: left;
            }

            img {
                margin-top: 24px;
                align-self: flex-end;
                height: 277px;
                width: 277px;
            }

            p {
                text-align: left;
                max-width: 70%;
            }
        }
    }

}

.container-4 {
    p {
        text-align: left;
        max-width: 400px;
        margin-top: 8px;
    }

    .row-clients {
        margin-top: 48px;
        justify-content: center;
        gap: 12px;

        .card {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: $card-border;
            border: none;
            width: 250px;
            height: 132px;
            padding: 32px;
            border: 1px solid var(--gray-stroke);

            p {
                font-size: 18px;
                font-weight: 900;
            }

        }
    }
}

.container-5 {
    flex-direction: row;
    // height: 430px;
    padding-bottom: 24px;


    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        align-self: flex-start;
        height: 90%;
        text-align: left;
        width: 50%;

        h2 {
            width: 80%;
        }

        .card-testimonial {
            flex-direction: column;
            display: flex;
            gap: 18px;

            h5 {
                font-size: 14px;
            }

            p {
                font-size: 18px;
            }

            .testimonial-para {

                font-size: 18px;
            }

            .opacity-white-text {
                margin-top: -22px;
                font-size: 12px;
            }
        }


    }

    .left {
        height: 100%;

        .btn-contact-us {
            margin-top: 24px;
        }


    }


}

.container-6 {
    .technologies-container {
        justify-content: space-between;
        align-items: center;
        align-items: center;
        max-width: 80%;
        gap: 50px;
        margin: var(--section-margin) 0 !important;

        .technologies-item {
            width: 120px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 32px;

            img {
                height: 56px;
                object-fit: contain;

            }


            p {
                text-transform: capitalize;
                font-family: "Google Sans", Roboto, Arial, sans-serif !important;
                font-size: 14px !important;
                font-weight: 400;
                text-align: center;
                line-height: 24px;
            }





        }

    }
}

.container-7 {
    .service-why-section {
        display: flex;

        .service-why-left-container {
            flex: 2;
            margin-top: 48px;
            gap: 32px;

            .why-card {
                text-align: left;
                width: 300px;
                height: 250px;

                .image {
                    padding: 2.5px;
                    width: fit-content;
                    border: 1px solid var(--white-stroke);
                    border-radius: $card-border;

                    img {
                        padding: 6px;
                        background-color: var(--white);
                        border-radius: $card-border;
                        width: 40px;
                        height: 40px;
                    }
                }



                h3 {
                    margin-top: 24px;
                }

                p {
                    max-width: 90%;
                }
            }
        }

        .service-why-right-container {
            flex: 1;
            margin: 0 24px;
            background-color: rgba(255, 255, 255, .05);
            border: 1px solid rgba(255, 255, 255, .1);
            border-radius: $card-border;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 24px;

            h3 {
                text-align: left;
            }

            img {
                object-fit: contain;
                width: 250px;
            }
        }
    }

}

.container-8 {
    text-align: left;

    h2 {
        max-width: 60%;
        align-self: flex-start;
    }

    p {
        margin-top: 12px;
    }

    .btn-contact-us {
        margin-top: 24px;
    }

    .rating-container {
        margin-top: 48px;
    }
}

.container-9 {
    .about-bottom-text {
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 24px;
    }

    .footer {
        margin-bottom: 48px;
        border-radius: $card-border;
        width: 100%;
        height: 200px;
        padding: 24px;
        padding-bottom: 16px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .footer-row1,
        .footer-row2 {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 12px;

                a {
                    color: var(--yellow);
                    text-decoration: none !important;
                }
            }
        }

        .footer-row1 .link-items {
            display: flex;
            gap: 8px;

            .item {
                height: 32px;
                width: 32px;
                border-radius: 50%;
                background-color: var(--white);

                a {
                    width: 20px;
                    height: 20px;
                    padding: 0;

                    img {
                        height: inherit;
                        width: inherit;
                    }
                }


            }
        }

        .footer-row2 {
            flex-wrap: wrap;
            gap: 20px;
            padding-top: 16px;
            border-top: 1px solid var(--white-stroke);

            .left {
                display: flex;
                gap: 18px;
            }

        }
    }
}



@media only screen and (max-width:480px) {
    .container-1 {
        height: 600px;

        .btn-contact-us {
            margin-top: 24px;
        }


        .rating-container {
            // margin-top: 56px;
        }

        .section1 {
            p {
                max-width: 100%;
                margin-top: 4px;
            }
        }
    }

    .container-2 {
        p {
            max-width: 100%;
        }
    }

    .container-3 {}

    .container-4 {
        p {
            text-align: left;
            max-width: 400px;
            margin-top: 8px;
        }

        .row-clients {
            gap: 4px;

            .card {
                width: calc((100% /2) - 4px);
                height: 108px;
                padding: 12px;

                p {
                    font-size: 16px;
                }

            }
        }
    }

    .container-5 {
        flex-direction: column;


        .left,
        .right {
            width: 100%;

            h2 {
                width: 100%;
            }

            .card-testimonial {
                margin-top: 48px;
            }
        }




    }

    .container-6 {
        .technologies-container {
            .technologies-item {
                width: 120px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-top: 32px;

                img {
                    height: 48px;
                    object-fit: contain;

                }

                p {
                    margin-top: 12px;
                }
            }

        }
    }

    .container-7 {
        h2 {
            text-align: left;
            line-height: 1.2;
            max-width: 70%;
        }

        .service-why-section {
            flex-direction: column;

            .service-why-left-container {
                gap: 48px;

                .why-card {
                    width: 100%;

                    h3 {
                        line-height: 1.2;
                        margin-top: 24px;
                    }

                }
            }

            .service-why-right-container {
                margin: 0;
                margin-bottom: 48px;

                h3 {
                    align-self: flex-start;
                    max-width: 70%;
                }
            }
        }

    }

    .container-8 {
        h2 {
            line-height: 1.1;
            max-width: 100%;
        }

    }

    .container-9 {
        .footer {
            height: 300px;
            flex-direction: column;

            .footer-row1 {
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
            }

            // .footer-row2 {
            //     padding-top: 16px;
            //     border-top: 1px solid var(--white-stroke);

            //     .left {
            //         display: flex;
            //         gap: 18px;
            //     }

            // }
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .container-1 {
        height: 700px;
    }

    .container-2 {
        p {
            max-width: 100%;
        }
    }

    .container-3 {
        .row {
            justify-content: center;
            gap: 12px;

            .card {
                width: calc(50% - 12px);
                height: 400px;

                img {
                    height: 177px;
                    width: 177px;
                }

                p {
                    max-width: 80%;
                }
            }
        }
    }

    .container-4 {
        .row-clients {
            gap: 4px;

            .card {
                width: calc((100% /3) - 4px);

                p {
                    text-align: center;
                    font-size: 16px;
                }
            }
        }
    }

    .container-5 {}

    .container-6 {}

    .container-7 {
        h2 {
            text-align: left;
            line-height: 1.2;
            max-width: 100%;
        }

        .service-why-section {
            flex-direction: column;

            .service-why-left-container {
                gap: 0;

                .why-card {
                    width: 50%;

                    h3 {
                        width: 90%;
                    }
                }
            }

            .service-why-right-container {
                width: 70%;
                align-self: center;
            }
        }

    }

    .container-8 {}

    .container-9 {}
}